USE [master]
GO
/****** Object:  Database [AssignmentPRJ]    Script Date: 8/25/2026 6:38:25 AM ******/
CREATE DATABASE [AssignmentPRJ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AssignmentPRJ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AssignmentPRJ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AssignmentPRJ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AssignmentPRJ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AssignmentPRJ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AssignmentPRJ]
GO
/****** Object:  Table [dbo].[CareLogs]    Script Date: 8/25/2026 6:38:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CareLogs](
	[logID] [int] IDENTITY(1,1) NOT NULL,
	[plantID] [int] NOT NULL,
	[actionDate] [datetime] NULL,
	[actionType] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[logID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/25/2026 6:38:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plants]    Script Date: 8/25/2026 6:38:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plants](
	[plantID] [int] IDENTITY(1,1) NOT NULL,
	[plantName] [nvarchar](100) NOT NULL,
	[categoryID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[imageUrl] [varchar](255) NULL,
	[healthStatus] [nvarchar](100) NULL,
	[note] [nvarchar](max) NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[plantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 8/25/2026 6:38:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[reportID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[plantID] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[reportStatus] [nvarchar](20) NULL,
	[adminReply] [nvarchar](max) NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[reportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/25/2026 6:38:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[fullName] [nvarchar](100) NOT NULL,
	[email] [varchar](100) NULL,
	[role] [varchar](20) NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CareLogs] ON 

INSERT [dbo].[CareLogs] ([logID], [plantID], [actionDate], [actionType], [description]) VALUES (1, 1, CAST(N'2026-08-23T10:15:00.000' AS DateTime), N'Tưới nước', N'tưới 200ml')
INSERT [dbo].[CareLogs] ([logID], [plantID], [actionDate], [actionType], [description]) VALUES (2, 1, CAST(N'2026-08-19T15:40:00.000' AS DateTime), N'Bón phân', N'bón phân NPK')
INSERT [dbo].[CareLogs] ([logID], [plantID], [actionDate], [actionType], [description]) VALUES (3, 1, CAST(N'2026-08-25T08:05:00.000' AS DateTime), N'Lau lá', N'lau bụi trên lá')
SET IDENTITY_INSERT [dbo].[CareLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([categoryID], [categoryName]) VALUES (1, N'Cây cảnh')
INSERT [dbo].[Categories] ([categoryID], [categoryName]) VALUES (2, N'Xương rồng')
INSERT [dbo].[Categories] ([categoryID], [categoryName]) VALUES (3, N'Hoa')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Plants] ON 

INSERT [dbo].[Plants] ([plantID], [plantName], [categoryID], [userID], [imageUrl], [healthStatus], [note], [createdAt]) VALUES (1, N'Kim tiền 1', 1, 2, N'https://picsum.photos/id/110/400/400', N'Ok', N'test', CAST(N'2026-08-20T09:15:00.000' AS DateTime))
INSERT [dbo].[Plants] ([plantID], [plantName], [categoryID], [userID], [imageUrl], [healthStatus], [note], [createdAt]) VALUES (2, N'Kim tiền 2', 1, 2, N'https://picsum.photos/id/120/400/400', N'Héo', N'chịu', CAST(N'2026-08-24T14:30:00.000' AS DateTime))
INSERT [dbo].[Plants] ([plantID], [plantName], [categoryID], [userID], [imageUrl], [healthStatus], [note], [createdAt]) VALUES (3, N'Sen đá 1', 2, 2, N'https://picsum.photos/id/130/400/400', N'Ok', N'', CAST(N'2026-08-18T08:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Plants] OFF
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([reportID], [userID], [plantID], [title], [description], [reportStatus], [adminReply], [createdAt]) VALUES (1, 2, 2, N'Cây héo', N'giúp với', N'PENDING', N'', CAST(N'2026-08-22T14:10:00.000' AS DateTime))
INSERT [dbo].[Reports] ([reportID], [userID], [plantID], [title], [description], [reportStatus], [adminReply], [createdAt]) VALUES (2, 2, 4, N'Chết rồi', N'thối rễ hết cứu', N'PENDING', NULL, CAST(N'2026-08-18T09:25:00.000' AS DateTime))
INSERT [dbo].[Reports] ([reportID], [userID], [plantID], [title], [description], [reportStatus], [adminReply], [createdAt]) VALUES (3, 2, 7, N'Có sâu', N'xịt gì giờ', N'PENDING', N'', CAST(N'2026-08-25T07:45:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([userID], [username], [password], [fullName], [email], [role], [status]) VALUES (1, N'admin', N'123', N'Admin', N'admin@gmail.com', N'ADMIN', 1)
INSERT [dbo].[Users] ([userID], [username], [password], [fullName], [email], [role], [status]) VALUES (2, N'customer1', N'123', N'User 1', N'c1@gmail.com', N'CUSTOMER', 1)
INSERT [dbo].[Users] ([userID], [username], [password], [fullName], [email], [role], [status]) VALUES (3, N'customer2', N'123', N'User 2', N'c2@gmail.com', N'CUSTOMER', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC5728FCC4A25]    Script Date: 8/25/2026 6:38:26 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CareLogs] ADD  DEFAULT (getdate()) FOR [actionDate]
GO
ALTER TABLE [dbo].[Plants] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ('PENDING') FOR [reportStatus]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[CareLogs]  WITH CHECK ADD FOREIGN KEY([plantID])
REFERENCES [dbo].[Plants] ([plantID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Plants]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[Categories] ([categoryID])
GO
ALTER TABLE [dbo].[Plants]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([plantID])
REFERENCES [dbo].[Plants] ([plantID])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([role]='ADMIN' OR [role]='CUSTOMER'))
GO
USE [master]
GO
